body {
    background-color: #e0e2e3;
}

#data {
    background-color: #efbefe;
    border: 5px solid #bffa00;
    width: 400px;
    height: 450px;
    overflow: scroll;
}

input {
    height: 20px;
}
